<!doctype html>
<html lang="<%= lang %>">
	<head>
		<%- include('parts/head', {title: ""}) %>
	</head>
	<body>
		<%- include('parts/nav_bar', {}) %>

		<%- include('parts/footer', {}) %>
	</body>
</html>