<div class="container p-2">
    <a class="btn btn-info btn-sm" style="width: 80px" href="/locale_change/ja"><%- __("日本語") %></a>
    <a class="btn btn-info btn-sm" style="width: 80px" href="/locale_change/en"><%- __("英語") %></a>
    <a class="btn btn-info btn-sm" style="width: 80px" href="/locale_change/zh-TW"><%- __("繁体字") %></a>
    <a class="btn btn-info btn-sm" style="width: 80px" href="/locale_change/zh-CN"><%- __("簡体字") %></a>
</div>